<div class="row">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del Usuario</h4>
        <h6 class="card-subtitle">Nombre usuario</h6>
        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control"  placeholder="Nombre usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="usuario.correo" [disabled]="usuario.google" name="correo" type="email" class="form-control" placeholder=" correo usuario" required>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografia del usuario</h4>
        <h6 class="card-subtitle">{{usuario.nombre}}</h6>
        <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150" >
        <img *ngIf="imagenTemp" [src]="imagenTemp" accept="png, jpg, jpeg" class="w150" >

        <input type="file" (change)="seleccionImage($event.target.files[0])">
        <br>
        <br>
        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Actualizar
          </button>
      </div>
    </div>
  </div>
</div>