
<div class="main-wrapper">
    <app-cabecera></app-cabecera>
  
    <app-menulateral></app-menulateral>
  
    <div class="page-wrapper">
        <div class="container-fluid">
          <app-migasdepan></app-migasdepan>
  
         <router-outlet></router-outlet>
       <!--  <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                          This is some text within a card block.
                      </div>
                  </div>
              </div>
          </div> -->
        </div>
  
    </div>
  </div>
  