/* You can add global styles to this file, and also import other style files */
.selector {
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.w150{
    width: 150px;
    height: 150px;
    margin: 1em;
}